.Calendar {
    display:flex;
    flex-direction: row;
    height:80vh;
    width:90vw;
}

.Week {
    height:100%;
    width:80%;
    border-collapse: collapse;
    border-spacing:0;
}



.row {
}

.cell {
    border: 1px solid black;
    padding: 0px;
    width: calc(100%/9);
}

.row-label {

}

.sub-cell {
    height: 25%;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrange-vertically > *{
    display:block
}